@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

:root{
    --cor-0:#fff;
    --cor-1:#E8EAFF;
    --cor-2:#166AEA;

    --madefor:"Wix Madefor Display";
}

body{
    background-color: var(--cor-1);
    font-family: var(--madefor);
}

/* ASIDE MENU */

.aside-menu{
    background-color: var(--cor-0);
    height: 60px;
    width: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.aside-nav .logo-wix{
    width: 60px;
    margin: 18px 30px;
}

.aside-nav .menu-list{
    display: flex;
    align-items: center;
    list-style: none;
    width:900px;
}

.aside-nav .menu-list .menu-itens{
    margin: 0 5px;
    text-align: center;

}

.menu-list .menu-itens i{
    font-size: 10px;
}

/* <BUTON MENU CIMA BAIXO> */

/* criaçao */
.menu-list .menu-itens .fa-chevron-up{
    display: none;
}
.menu-list .menu-itens .fa-chevron-down{
    display: inline;
}

.buton-criacao:checked + label .fa-chevron-up {
    display: inline;
}
.buton-criacao:checked + label .fa-chevron-down{
    display: none;
}

/* negocios */
.menu-list .menu-itens .fa-chevron-up{
    display: none;
}
.menu-list .menu-itens .fa-chevron-down{
    display: inline;
}

.buton-Negócios:checked + label .fa-chevron-up {
    display: inline;
}
.buton-Negócios:checked + label .fa-chevron-down{
    display: none;
}

/* recursos */
.menu-list .menu-itens .fa-chevron-up{
    display: none;
}
.menu-list .menu-itens .fa-chevron-down{
    display: inline;
}

.buton-Recursos:checked + label .fa-chevron-up {
    display: inline;
}
.buton-Recursos:checked + label .fa-chevron-down{
    display: none;
}
/* </ BUTON MENU CIMA BAIXO> */

.aside-nav .menu-list input{
    display: none;
}

.menu-itens label{
    font-weight: 500;
    color: rgba(0, 0, 0, 0.633);
    padding: 15px;
}

.menu-itens label:hover{
    color: var(--cor-2) ;
    cursor: pointer;
}

.linha-vertical{
    height: 20px;
    border-left: 1.5px solid rgba(0, 0, 0, 0.374);
}

.entrar-conta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.entrar-conta i{
    margin:0 20px 0 0px;
}

.entrar-conta button{
    width: 130px;
    height: 40px;
    border-radius: 40px;
    outline: 0;
    background-color: white;
    color: var(--cor-2);
    border: 1px solid var(--cor-2);
    margin-right: 20px;
}

.entrar-conta button:hover{
    background-color: var(--cor-2);
    color: var(--cor-0);
    transition-duration: 0.5s;
}


